body {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 200%;
    background: #242424;
    color: white;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: #797979;
}

#clock {
    margin-top: 20px;
    font-size: 400%;
    color: white;
}

#blinds {
    font-size: 300%;
    color: white;
}

#structure {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 600px;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    color: #797979;
}

.structure-item {
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px;
}

.structure-item--active {
    font-weight: bold;
    color: white;
}

.actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin: 10px;
    height: 50px;
    width: 89px;
    border: none;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button > img {
    height: 60%;
}